<p><%= t '.first_paragraph' %></p>

<h2 class="text-center"><%= t '.understanding' %></h2>

<p><%= t '.second_paragraph' %></p>

<h2 class="text-center"><%= t '.getting' %></h2>

<p><%= t('.fourth_paragraph').html_safe %></p>
