<%= form_for Contact.new do |f| %>
  <p><%= t '.contact_method' %></p>

  <p class="form-check">
    <%= f.radio_button :relief_method, 'email', class: 'form-check-input js-contact-radio', required: true %>
    <%= f.label :relief_method_email, t('.email'), class: 'form-check-label' %>
  </p>

  <p class="form-check">
    <%= f.radio_button :relief_method, 'phone', class: 'form-check-input js-contact-radio', required: true %>
    <%= f.label :relief_method_phone, t('.text'), class: 'form-check-label' %>
  </p>


  <div class="js-requestor-container" style="display: none;">
    <div class="form-group">
      <%= f.email_field :email, class: 'form-control', placeholder: 'address@example.com', required: true, pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" %>
      <%= f.phone_field :phone, class: 'form-control js-phone-format', placeholder: '(xxx) xxx-xxxx', required: true, pattern: '.{14}', style: 'display: none;', title: 'Valid phone number: "(xxx) xxx-xxxx"' %>
    </div>

    <p><%= t ".selector" %></p>

    <p class="js-email-option form-check">
      <%= f.radio_button :requestor_name, ' ', class: 'form-check-input js-requestor-radio', required: true %>
      <%= f.label :requestor_name__, t('.email_request') + @offense.name, class: 'form-check-label' %>.
    </p>

    <p class="js-phone-option form-check" style="display: none;">
      <%= f.radio_button :requestor_name, '  ', class: 'form-check-input js-requestor-radio', required: true %>
      <%= f.label :requestor_name___, t('.phone_request') + @offense.name, class: 'form-check-label' %>.
    </p>

    <p class="form-check">
      <%= f.radio_button :requestor_name, true, class: 'form-check-input js-requestor-radio', required: true %>
      <%= f.label :requestor_name_true,  t('.request_start') + @offense.name + t('.request_end'), class: 'form-check-label' %>
    </p>

    <div class="js-div form-row">
      <div class="col-auto">
        <%= t '.requestor_name' %>
      </div>
      <div class="col-auto">
        <%= f.text_field :requestor_name, class: 'js-field form-control', disabled: true, required: true, pattern: '.*\S.*', placeholder: t('.enter_name') %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <%= link_to 'Back', root_path(locale: params[:locale]), class: 'btn btn-info' %>
    <%= submit_tag t('.save_button'), class:'btn btn-info' %>
  </div>
<% end %>
