<p><%= t '.records_missing' %></p>

<p><%= t '.reasons_missing' %></p>

<ul>
  <li><%= t '.item1' %></li><li><%= t '.item2' %></li><li><%= t '.item3' %></li>
</ul>

<%= link_to t('.about_button'), 'http://www.deardurham.org', target: '_blank', rel: 'noopener', class: 'btn btn-info' %>
