<%# inside: 1 %>
<%# outside: 0 %>
<% inside = false %>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="title text-center"><%= t ".title" %></h1>

    <table class="search-result-table">
      <thead>
        <tr>
          <th><%= t ".first_name" %></th>
          <th><%= t ".middle_name" %></th>
          <th><%= t ".last_name" %></th>
          <th><%= t ".dob" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @first.inspect %></td>
          <td><%= @middle.inspect %></td>
          <td><%= @last.inspect %></td>
          <td>
            <%= @dob.inspect %>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="records-returned"><%= t '.records_returned' %></p>

    <%= form_tag results_path do |f| %>
      <div class="btn-group-toggle" <%= inside ? 'data-toggle="buttons"'.html_safe : nil %>>
        <% @offenses.group_by { |x| [x.name, x.dob, x.sex, x.race] }.each_with_index do |array, index| %>
          <% group = array.first %>
          <% offenses = array.last %>
          <% ids = offenses.map(&:id) %>
          <% name = group[0] %>
          <% dob = group[1]&.strftime ', %-m/%-d/%Y' %>

          <%# for checkboxes inside button %>
          <% if inside %>
            <label class="col mb-2 btn btn-outline-info text-left">
              <input type="checkbox" name="ids[]" value="<%= ids.join ' ' %>" class="js-checkbox">
              <i class="far fa-square mr-1"></i><i class="fa fa-check-square mr-1"></i>
              <%= "#{name}#{dob}" %>
            </label>
          <% else %>
            <%# for checkboxes outside button %>
            <div class="d-flex align-items-center form-row mr-0">
              <input id="<%= index %>" type="checkbox" name="ids[]" value="<%= ids.join ' ' %>" class="js-checkbox">
              <i class="far fa-square text-info col-auto"></i><i class="fa fa-check-square text-info col-auto"></i>

              <label class="col btn btn-outline-info text-left pl-2 mb-2 ml-1" for="<%= index %>">
                <%= "#{name}#{dob}" %>
              </label>
            </div>
          <% end %>
        <% end %>

        <% if inside %>
          <label class="col mb-2 btn btn-outline-info text-left">
            <input type="checkbox" name="ids[]" value="" class="js-checkbox">
            <i class="far fa-square mr-1"></i><i class="fa fa-check-square mr-1"></i>
            My name does not appear
          </label>
        <% else %>
          <div class="d-flex align-items-center form-row mr-0">
            <div class="col-auto">
              <input id="-1" type="checkbox" name="ids[]" value="" class="js-checkbox">
              <i class="far fa-square text-info"></i>
              <i class="fa fa-check-square text-info"></i>
            </div>

            <label class="col btn btn-outline-info text-left pl-2 mb-2 ml-1" for="-1">
              My name does not appear
            </label>
          </div>

        <% end %>
      </div>

      <div class="d-flex justify-content-between">
        <%= link_to t('.back_button'), root_path, class: 'btn btn-info' %>

        <%= submit_tag t('.next_button'), class:'btn btn-info', disabled: true %>
      </div>
    <% end %>

  </div>
  <div class="col-md-1"></div>
</div>
