<h1>Results</h1>

<% if @offenses.empty? %>
  <%= render 'record_missing' %>
<% elsif @offenses.all?(&:approved?) %>
  <%= render 'approved' %>
<% elsif @offenses.all?(&:denied?) %>
  <%= render 'denied' %>
<% elsif @offenses.all?(&:pending?) %>
  <%= render 'pending' %>
<% elsif %>
  <%= render 'mix' %>
<% end %>
