<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="title text-center"><%= t '.title' %></h1>

    <% if @offenses.empty? %>
      <%= render 'record_missing' %>
    <% elsif @offenses.any?(&:approved?) %>
      <%= render 'approved' %>
    <% elsif @offenses.any?(&:pending?) %>
      <%= render 'pending' %>
    <% elsif @offenses.any?(&:denied?) %>
      <%= render 'denied' %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
