<%# preload top header images, lazyload mayor, deberry, and justice center images %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <p class="text-right">
      <% if I18n.locale == :es %>
        <%= link_to 'English', root_path(locale: :en) %>
      <% else %>
        <%= link_to 'Español', root_path(locale: :es) %>
      <% end %>
    </p>

    <div class="flex justify-between pb-4">
      <%= image_tag '/durham_logo_transparent.png'.freeze, class: 'logo-twin'.freeze %>
      <picture>
        <source srcset="<%= asset_path 'DEAR_logo.webp' %>" type="image/webp">
        <source srcset="<%= asset_path 'DEAR_logo.png' %>" type="image/png">
        <img src="<%= asset_path 'DEAR_logo.png' %>" alt="DEAR logo" class="logo-twin">
      </picture>
    </div>

    <h6 class="text-center"><b><%= t '.welcome_message' %></b></h6>

    <p><%= t '.introduction' %></p>
    <h5><b><%= t '.introduction_header' %></b></h5>

    <%= form_for @offense, url: confirm_path do |f| %>
      <div class="form-group">
        <input autocomplete="new-password" class="form-control" placeholder="<%= t '.first_name' %>" required="required" type="text" name="offense[first_name]" id="offense_first_name">
      </div>

      <div class="form-group">
        <input autocomplete="new-password" class="form-control" placeholder="<%= t '.middle_name' %>" type="text" name="offense[middle_name]" id="offense_middle_name">
      </div>

      <div class="form-group">
        <input autocomplete="new-password" class="form-control" placeholder="<%= t '.last_name' %>" required="required" type="text" name="offense[last_name]" id="offense_last_name">
      </div>

      <div class="form-group">
        <label for="offense_date_of_birth"><%= t '.dob'.freeze %></label>
        <input class="form-control" min="1900-01-01" max="<%= Date.today %>" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" placeholder="MM/DD/YYYY" required="required" title="MM/DD/YYYY" type="date" name="offense[date_of_birth]" id="offense_date_of_birth">
      </div>

      <input type="submit" name="commit" value="<%= t '.search'.freeze %>" class="btn btn-info" data-disable-with="<%= t '.search'.freeze %>">
    <% end %>

    <hr>
    <p><%= t('.upcoming_court_dates').html_safe %></p>
    <hr>
    <br>

    <div class="row">
      <div class="col-sm-6">
        <div class="card mb-4">
          <picture data-src="<%= asset_path 'mayor2.webp' %>" data-fallback="<%= asset_path 'mayor2.jpg' %>">
            <img alt="Durham Mayor Steve Schewel" class="card-img-top">
          </picture>

          <div class="card-header pt-3">
            <h5 class="card-title"><b>Steve Schewel</b></h5>
            <h6 class="card-subtitle mb-2 text-muted"><b>Mayor, City of Durham</b></h6>
          </div>

          <div class="card-body">
            <p class="card-text text-muted"><em>
              “Making the city we love, a city for all, means making the city we love a city of second chance. Everyone who is benefiting from this program has paid a very steep price.  They have lost their license for at least two years. To be a city of second chances, there must be an expiration date on what it means to hold someone accountable.”
            </em></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card mb-4">
          <picture data-src="<%= asset_path 'deberry.webp' %>" data-fallback="<%= asset_path 'deberry.jpg' %>">
            <img alt="Durham District Attorney Satana Deberry" class="card-img-top">
          </picture>

          <div class="card-header pt-3">
            <h5 class="card-title"><b>Satana Deberry</b></h5>
            <h6 class="card-subtitle mb-2 text-muted"><b>Durham County District Attorney</b></h6>
          </div>

          <div class="card-body">
            <p class="card-text text-muted"><em>
              “With their debts forgiven, these individuals can now get a driver’s license.  They can get insurance. They can go to work and to school. They can participate fully in the economic and social vitality of our community.”
            </em></p>
          </div>
        </div>
      </div>
    </div>

    <p>
      <a target="_blank" rel="noopener" class="btn btn-info" href="http://www.deardurham.org">
        <%= t '.about_button' %>
      </a>
    </p>

    <hr>

    <p><%= t '.about1'.freeze %></p>
    <p><%= t '.about2'.freeze %></p>
    <p><%= t '.about3'.freeze %></p>
    <p><%= t '.about4'.freeze %></p>
    <p><%= t '.about5'.freeze %></p>

    <hr>

    <p class="project-partners-text"><%= t '.project_partners'.freeze %></p>

    <ul class="p-0">
      <li class="project-partners district-attorney">
        <h3 class="district-attorney-media"><%= t '.district_attorney'.freeze %></h3>
      </li>
      <li class="project-partners">
        <picture data-src="<%= asset_path 'justice_center_s.webp' %>" data-fallback="<%= asset_path 'justice_center_s.jpg' %>">
          <img alt="North Carolina Justice Center" class="ncjc-logo">
        </picture>
      </li>
    </ul>
  </div>
  <div class="col-md-2"></div>
</div>
