<%= image_tag 'DEAR_logo.png', style: 'width:100%', class: 'dear-logo' %>

<h1><%= t ".heading" %></h1>
<h2 class="welcome"><%= t ".welcome_message" %></h2>
<h2 class="welcome-sub"><%= t ".welcome_message_sub" %></h2>

<h3><%= t ".introduction_header" %></h3>
<p><%= t ".introduction" %></p>

<%= form_for @offense, url: confirm_path do |f| %>
  <div class="form-group">
    <%= f.text_field :first_name, autocomplete: 'new-password', class: 'form-control', placeholder: (t '.first_name'), required: true %>
  </div>
  <div class="form-group">
    <%= f.text_field :middle_name, autocomplete: 'new-password', class: 'form-control', placeholder: (t '.middle_name') %>
  </div>
  <div class="form-group">
    <%= f.text_field :last_name, autocomplete: 'new-password', class: 'form-control', placeholder: (t '.last_name'), required: true %>
  </div>
  <div class="form-group">
    <%= f.text_field :date_of_birth, class: 'form-control', placeholder: (t '.dob'), required: true %>
  </div>
  <%= f.submit (t '.search'), class:'btn btn-primary' %>
<% end %>

<hr />
<p><%= t ".upcoming_court_dates" %></p>
<hr />
<p>
  <%= t ".about_project" %>
  <button type="button" class="btn btn-primary about-us"><%= t ".about_button" %></button>
</p>
<p class="project-partners-text"><%= t ".project_partners" %></p>
  <ul class="partners">
    <li class="project-partners"><%= image_tag("durham_logo_transparent.png", {:class => "durham-logo"}) %></li>
    <li class="project-partners district-attorney"><h3 class="district-attorney-media"><%= t ".district_attorney" %></h3></li>
  </ul>
<br />
</p>
