<div class="flex justify-between" style="padding: 2em 0;">
  <%= image_tag '/durham_logo_transparent.png', class: 'logo-twin' %>
  <%= image_tag 'DEAR_logo.png', class: 'logo-twin' %>
</div>

<h2 class="welcome"><%= t '.welcome_message' %></h2>
<h2 class="welcome-sub"><%= t '.welcome_message_sub' %></h2>

<p><%= t '.introduction' %></p>
<h3><%= t '.introduction_header' %></h3>

<%= form_for @offense, url: confirm_path do |f| %>
  <div class="form-group">
    <%= f.text_field :first_name, autocomplete: 'new-password', class: 'form-control', placeholder: (t '.first_name'), required: true %>
  </div>
  <div class="form-group">
    <%= f.text_field :middle_name, autocomplete: 'new-password', class: 'form-control', placeholder: (t '.middle_name') %>
  </div>
  <div class="form-group">
    <%= f.text_field :last_name, autocomplete: 'new-password', class: 'form-control', placeholder: (t '.last_name'), required: true %>
  </div>
  <div class="form-group">
    <%= f.label :date_of_birth, t('.dob') %>
    <%= f.date_field :date_of_birth, class: 'form-control', placeholder: t('.dob'), required: true %>
  </div>
  <%= f.submit (t '.search'), class:'btn btn-primary' %>
<% end %>

<hr />
<p><%= t '.upcoming_court_dates' %></p>
<hr />

<br>

<div class="row">
  <div class="col-sm-6">
    <div class="card mb-4">
      <%= image_tag 'mayor2.jpg', class: 'card-img-top' %>

      <div class="card-header pt-4">
        <h5 class="card-title">Steve Schewel</h5>
        <h6 class="card-subtitle mb-2 text-muted">Mayor, City of Durham</h6>
      </div>

      <div class="card-body">
        <p class="card-text text-muted"><em>
          “Making the city we love, a city for all, means making the city we love a city of second chance. Everyone who is benefiting from this program has paid a very steep price.  They have lost their license for at least two years. To be a city of second chances, there must be an expiration date on what it means to hold someone accountable.”
        </em></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card mb-4">
      <img src="https://www.philly.com/resizer/eIq4c8ONtNIziooVZFaKamxFVT0=/1400x0/center/middle/arc-anglerfish-arc2-prod-pmn.s3.amazonaws.com/public/P4YWO57Q3RFPHJ7QM4AUXZVXAU.jpg" alt="" class="card-img-top">

      <div class="card-body">
        <h5 class="card-title">Satana Deberry</h5>
        <h6 class="card-subtitle mb-2 text-muted">Durham County District Attorney</h6>
      </div>

      <div class="card-footer">
        <p><em>
          “With their debts forgiven, these individuals can now get a driver’s license.  They can get insurance. They can go to work and to school. They can participate fully in the economic and social vitality of our community.”
        </em></p>
      </div>
    </div>
  </div>
</div>

<p>
  <%= link_to t('.about_button'), 'http://www.deardurham.org', target: '_blank', rel: 'noopener', class: 'btn btn-primary' %>
</p>

<hr>

<p><%= t '.about1' %></p>
<p><%= t '.about2' %></p>
<p><%= t '.about3' %></p>
<p><%= t '.about4' %></p>
<p><%= t '.about5' %></p>

<hr>

<p class="project-partners-text"><%= t '.project_partners' %></p>

<ul class="partners">
  <li class="project-partners">
    <%#= image_tag '/durham_logo_transparent.png', class: 'durham-logo' %>
  </li>
  <li class="project-partners district-attorney">
    <h3 class="district-attorney-media"><%= t '.district_attorney' %></h3>
  </li>
  <li class="project-partners">
    <%= image_tag 'justice_center.jpg', style: 'width: 30em; max-width: 100%;', class: 'dear-logo' %>
  </li>
</ul>
