<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a class="nav-link" href="/contacts">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/contacts/queued">Queued</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacts/unqueued">Unqueued</a>
      </li>
    </ul>

    <div class="d-flex justify-content-between align-items-center">
      <h4 class="font-weight-light"><%= @queued.count %> Queued</h4>

      <%= link_to 'Download CSV', "/contacts/queued.csv", class: 'btn btn-info', target: '_blank', download: "SecondChanceDriving Queued #{Date.current}.csv" %>
    </div>

    <!-- for queued contacts -->
    <div class="card mt-4">
      <table>
        <thead>
          <th><div class="desktop-only">Advice preference</div></th>
          <th>Full Name</th>
          <th>Queue date</th>
          <th></th>
        </thead>
        <tbody>
          <% @queued.each do |contact| %>
            <tr>
              <td>
                <% if contact.advice_method == 'email' %>
                  <div class="desktop-only">Email</div>
                  <div class="mobile-only"><i class="fas fa-envelope text-black-50"></i></div>
                <% else %>
                  <div class="desktop-only">Postal</div>
                  <div class="mobile-only"><i class="fab fa-usps text-primary"></i></div>
                <% end %>
              </td>
              <td><%= contact.full_name %></td>
              <td><%= contact.queue_date.strftime '%b %-d'.freeze %></td>
              <td><%= link_to :view, contact, class: 'btn btn-info btn-sm'.freeze %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
