<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2>Contact</h2>

    <div class="d-flex justify-content-between">
      <%= link_to 'Back', contacts_path, class: 'btn btn-info mb-4' %>

      <%= link_to 'Edit', edit_contact_path(@contact), class: 'btn btn-warning mb-4' %>
    </div>

    <div class="card">
      <div class="card-header">
        <b><span class="card-subtitle text-muted">Names</span></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Name
            </div>
            <div class="col-8 col-sm-9">
              <%= @contact.full_name %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Requestor
            </div>
            <div class="col-8 col-sm-9">
              <%= @contact.requestor_name %>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-header">
        <b><span class="card-subtitle text-muted">Birthday</span></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Birthday
            </div>
            <div class="col-8 col-sm-9">
              <%= @contact.offenses.pluck(:date_of_birth).uniq.compact.map{|x| x.strftime('%-m/%-d/%Y')}.join ', ' %>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-header">
        <b><span class="card-subtitle text-muted">Contact info</span></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-3">
              Email
            </div>
            <div class="col-9">
              <%= @contact.email %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-3">
              Phone
            </div>
            <div class="col-9">
              <%= @contact.phone %>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-header">
        <b><span class="card-subtitle text-muted">Preferences</span></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-5 col-sm-3">
              Relief letter
            </div>
            <div class="col-7 col-sm-9">
              <%= @contact.relief_method %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-5 col-sm-3">
              Advice letter
            </div>
            <div class="col-7 col-sm-9">
              <%= @contact.advice_method %>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-header">
        <b><span class="card-subtitle text-muted">Address</span></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-3">
              Street
            </div>
            <div class="col-9">
              <%= @contact.street %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-3">
              City
            </div>
            <div class="col-9">
              <%= @contact.city %>
            </div>
          </div>

        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-3">
              State
            </div>
            <div class="col-9">
              <%= @contact.state %>
            </div>
          </div>

        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-3">
              ZIP
            </div>
            <div class="col-9">
              <%= @contact.zip %>
            </div>
          </div>

        </li>
      </ul>
      <div class="card-footer text-center text-muted">
        <% if @contact.queue_date.present? %>
          <div data-toggle="tooltip" title="<%= @contact.queue_date.strftime('%b %d, %Y') %>">
            Queued
            <%= time_ago_in_words @contact.queue_date %> ago
          </div>
        <% end %>
        <div data-toggle="tooltip" title="<%= @contact.updated_at.strftime('%b %d, %Y %l:%M %P') %>">
          Last updated
          <%= time_ago_in_words @contact.updated_at %> ago
        </div>
        <div data-toggle="tooltip" title="<%= @contact.created_at.strftime('%b %d, %Y %l:%M %P') %>">
          Created
          <%= time_ago_in_words @contact.created_at %> ago
        </div>
      </div>
    </div>

    <%= link_to 'Back', contacts_path, class: 'btn btn-info mt-4' %>

    <h2><%= pluralize @contact.offenses.count, 'Offense' %></h2>

    <div class="card mb-4">
      <table>
        <thead>
          <tr>
            <th>First</th>
            <th>Middle</th>
            <th>Last</th>
            <th>Birthday</th>
            <th>Status</th>
            <th>Group</th>
          </tr>
        </thead>
        <tbody>
          <% @offenses.each do |offense| %>
            <tr class="list-group-item-action" data-href="<%= offense_path(offense) %>">
              <td><%= offense.first_name %></td><td><%= offense.middle_name %></td><td><%= offense.last_name %></td><td><%= offense.dob_clean %></td><td><small class="<%= offense.css_class %>"><%= offense.status %></small></td><td><%= offense.group %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<script type="text/javascript">
  initializeTooltips();
</script>
