<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <%= link_to 'back', contacts_path, class: 'btn btn-primary mb-4' %>

    <div class="card">
      <div class="card-header">
        <b><span class="card-subtitle text-muted">Names</span></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Name
            </div>
            <div class="col-8 col-sm-9">
              <%= @contact.full_name %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Requestor
            </div>
            <div class="col-8 col-sm-9">
              <%= @contact.requestor_name %>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-header">
        <b><span class="card-subtitle text-muted">Birthday</span></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Birthday
            </div>
            <div class="col-8 col-sm-9">
              <%= @contact.offenses.pluck(:date_of_birth).uniq.map{|x| x.strftime('%-m/%-d/%Y')}.join ', ' %>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-header">
        <b><span class="card-subtitle text-muted">Contact info</span></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-3">
              Email
            </div>
            <div class="col-9">
              <%= @contact.email %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-3">
              Phone
            </div>
            <div class="col-9">
              <%= @contact.phone %>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-header">
        <b><span class="card-subtitle text-muted">Preferences</span></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-5 col-sm-3">
              Relief letter
            </div>
            <div class="col-7 col-sm-9">
              <%= @contact.relief_method %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-5 col-sm-3">
              Advice letter
            </div>
            <div class="col-7 col-sm-9">
              <%= @contact.advice_method %>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-header">
        <b><span class="card-subtitle text-muted">Address</span></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-3">
              Street
            </div>
            <div class="col-9">
              <%= @contact.street %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-3">
              City
            </div>
            <div class="col-9">
              <%= @contact.city %>
            </div>
          </div>

        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-3">
              State
            </div>
            <div class="col-9">
              <%= @contact.state %>
            </div>
          </div>

        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-3">
              ZIP
            </div>
            <div class="col-9">
              <%= @contact.zip %>
            </div>
          </div>

        </li>
      </ul>
      <div class="card-footer text-center text-muted">
        <% if @contact.queue_date.present? %>
          <div>
            Queued
            <%= time_ago_in_words @contact.queue_date %> ago
            (<%= @contact.queue_date.strftime('%b %d, %Y') %>)
          </div>
        <% end %>
        <div>
          Created
          <%= time_ago_in_words @contact.created_at %> ago
          (<%= @contact.created_at.strftime('%b %d, %Y %l:%M %P') %>)
        </div>
        <div>
          Last updated
          <%= time_ago_in_words @contact.updated_at %> ago
          (<%= @contact.updated_at.strftime('%b %d, %Y %l:%M %P') %>)
        </div>
      </div>
    </div>

    <%= link_to 'back', contacts_path, class: 'btn btn-primary' %>
  </div>
  <div class="col-md-1"></div>
</div>
