<h2>Edit Case</h2>

<p>
  This page detail individual cases and allows you to edit status and group on a case-by-case basis.
</p>

<%= form_for @offense do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :status %>
      <%= f.select :status, ['pending', 'approved', 'denied', 'pulled'], {}, class: 'form-control js-send-emails' %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :group %>
      <%= f.select :group, (1..52).to_a.unshift('NA'), {}, class: 'form-control' %>
    </div>
  </div>

  <p>
    <%= @offense.contacts.count %> contacts
  </p>

  <div>
    <%= f.submit 'Save', class: 'btn btn-success' %>
  </div>
<% end %>
