<h1>Search Group <%= @group %></h1>

<%= form_tag group_offenses_path(@group), method: :get, enforce_utf8: false do %>
  <div class="form-row">
    <div class="pb-2 col-sm-3">
      <%= text_field_tag :f, @first, class: 'form-control', placeholder: 'First name' %>
    </div>
    <div class="pb-2 col-sm-2">
      <%= text_field_tag :m, @middle, class: 'form-control', placeholder: 'Middle name' %>
    </div>
    <div class="pb-2 col-sm-3">
      <%= text_field_tag :l, @last, class: 'form-control', placeholder: 'Last name' %>
    </div>
    <div class="pb-2 col-sm-2">
      <%= text_field_tag :d, @date, class: 'form-control', placeholder: 'Date of birth' %>
    </div>
    <div class="col-auto pb-2">
      <input class="btn btn-info" type="submit" value="Search" data-disable-with="Search">
    </div>
  </div>
<% end %>

<br>

<%= form_tag group_offenses_path(@group) do %>
  <%= hidden_field_tag :ids, @offenses.pluck(:id) %>
  <%= hidden_field_tag :f, @first %>
  <%= hidden_field_tag :m, @middle %>
  <%= hidden_field_tag :l, @last %>
  <%= hidden_field_tag :d, @date %>
  <%= hidden_field_tag :p, @page %>

  <p class="flex justify-between">
    <span>
      <%= page_entries_info @offenses %>
    </span>

    <span>
      Mark all as:
      <span class="js-mark-as btn btn-info">pending</span>
      <span class="js-mark-as btn btn-info">approved</span>
      <span class="js-mark-as btn btn-info">denied</span>
    </span>
  </p>
<% end %>

<%= form_tag group_offenses_path(@group) do %>
  <%= hidden_field_tag :f, @first %>
  <%= hidden_field_tag :m, @middle %>
  <%= hidden_field_tag :l, @last %>
  <%= hidden_field_tag :d, @date %>
  <%= hidden_field_tag :p, @page %>

  <%= submit_tag 'Save and send emails'.freeze, class: 'btn btn-info' %>

  <table>
    <thead>
      <th><%= sortable 'first_name'.freeze %></th>
      <th><%= sortable 'middle_name'.freeze %></th>
      <th><%= sortable 'last_name'.freeze %></th>
      <th><%= sortable 'date_of_birth'.freeze %></th>
      <th><%= sortable 'status'.freeze %></th>
    </thead>
    <tbody>
      <% options = %w(pending approved denied pulled) %>
      <% @offenses.each do |offense| %>
        <tr>
          <td><%= offense.first_name %></td><td><%= offense.middle_name %></td><td><%= offense.last_name %></td><td><%= offense.dob_clean %></td><td><%= select_tag "offenses[#{offense.id}]status", options_for_select(options, offense.status) %></td><td><%= link_to 'link'.freeze, offense %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag 'Save and send emails'.freeze, class: 'btn btn-info' %>
<% end %>

<%= paginate @offenses, param_name: :p %>
