<h1>Group <%= @group %></h1>

<%= form_tag group_offenses_path(@group), method: :get, enforce_utf8: false do %>
  <table>
    <thead>
      <th><%= label_tag :f, 'First name' %></th>
      <th><%= label_tag :m, 'Middle name' %></th>
      <th><%= label_tag :l, 'Last name' %></th>
      <th><%= label_tag :d, 'Date of birth' %></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td><%= text_field_tag :f, @first, placeholder: 'First name' %></td>
        <td><%= text_field_tag :m, @middle, placeholder: 'Middle name' %></td>
        <td><%= text_field_tag :l, @last, placeholder: 'Last name' %></td>
        <td><%= text_field_tag :d, @date, placeholder: 'Date of birth' %></td>
        <td><%= submit_tag 'Search', name: nil %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<br>

<%= form_tag group_offenses_path(@group) do %>
  <%= hidden_field_tag :ids, @offenses.pluck(:id) %>
  <%= hidden_field_tag :f, @first %>
  <%= hidden_field_tag :m, @middle %>
  <%= hidden_field_tag :l, @last %>
  <%= hidden_field_tag :d, @date %>
  <%= hidden_field_tag :p, @page %>

  <p class="flex justify-between">
    <span>
      <%= page_entries_info @offenses %>
    </span>

    <span>
      Mark all as:
      <span class="js-mark-as btn btn-secondary">pending</span>
      <span class="js-mark-as btn btn-secondary">approved</span>
      <span class="js-mark-as btn btn-secondary">denied</span>
    </span>
  </p>
<% end %>

<%= form_tag group_offenses_path(@group) do %>
  <%= hidden_field_tag :f, @first %>
  <%= hidden_field_tag :m, @middle %>
  <%= hidden_field_tag :l, @last %>
  <%= hidden_field_tag :d, @date %>
  <%= hidden_field_tag :p, @page %>

  <%= submit_tag 'Save and send emails'.freeze %>

  <table>
    <thead>
      <th><%= sortable 'first_name'.freeze %></th>
      <th><%= sortable 'middle_name'.freeze %></th>
      <th><%= sortable 'last_name'.freeze %></th>
      <th><%= sortable 'date_of_birth'.freeze %></th>
      <th><%= sortable 'status'.freeze %></th>
    </thead>
    <tbody>
      <% options = %w(pending approved denied pulled) %>
      <% @offenses.each do |offense| %>
        <tr>
          <td><%= offense.first_name %></td>
          <td><%= offense.middle_name %></td>
          <td><%= offense.last_name %></td>
          <td><%= offense.dob_clean %></td>
          <td><%= select_tag "offenses[#{offense.id}]status", options_for_select(options, offense.status) %></td>
          <td><%= link_to 'link'.freeze, offense %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag 'Save and send emails'.freeze %>
<% end %>

<%= paginate @offenses, param_name: :p %>
