<h1>Search Offenses</h1>

<h2>Admin Panel page</h2>

<%= form_tag offenses_path, method: :get, enforce_utf8: false do %>
  <table>
    <thead>
      <th><label for="f">First name</label></th>
      <th><label for="m">Middle name</label></th>
      <th><label for="l">Last name</label></th>
      <th><label for="d">Date of birth</label></th>
      <th><label for="g">Group ID</label></th>
    </thead>
    <tbody>
      <tr>
        <td><%= text_field_tag :f, @first, placeholder: 'First name'.freeze %></td>
        <td><%= text_field_tag :m, @middle, placeholder: 'Middle name'.freeze %></td>
        <td><%= text_field_tag :l, @last, placeholder: 'Last name'.freeze %></td>
        <td><%= text_field_tag :d, @date, placeholder: 'Date of birth'.freeze %></td>
        <td><%= text_field_tag :g, @group, placeholder: 'Groups 1-52'.freeze, size: 12 %></td>
        <td><input type="submit" value="Search" data-disable-with="Search"></td>
      </tr>
    </tbody>
  </table>
<% end %>

<h3>Groups</h3>

<div>
  <% @groups.each do |group| %>
    <span><%= link_to group, "/offenses/group/#{group}" %></span>
  <% end %>
</div>

<h3>Offenses</h3>

<%= page_entries_info @offenses %>

<table>
  <thead>
    <th></th>
    <th><%= sortable 'first_name' %></th>
    <th><%= sortable 'middle_name' %></th>
    <th><%= sortable 'last_name' %></th>
    <th><%= sortable 'date_of_birth' %></th>
    <th><%= sortable 'status' %></th>
    <th><%= sortable 'group' %></th>
  </thead>
  <tbody>
    <% @offenses.each do |offense| %>
      <tr>
        <td><%= link_to :link, offense %></td>
        <td><%= offense.first_name %></td>
        <td><%= offense.middle_name %></td>
        <td><%= offense.last_name %></td>
        <td><%= offense.dob_clean %></td>
        <td><%= offense.status %></td>
        <td><%= offense.group %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @offenses, param_name: :p %>
