<h1>Offenses#index</h1>
<h2>Admin Panel page</h2>

<p>
  page has a search bar similar to the search page, except these results are full and have links to the offenses#show page for further detail
</p>

<h3>Groups</h3>

<div>
  <% @groups.each do |group| %>
    <span><%= link_to group, group_offenses_path(group) %></span>
  <% end %>
</div>

<table>
  <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Date of birth</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @offenses.each do |offense| %>
      <tr>
        <td><%= offense.first_name %></td>
        <td><%= offense.last_name %></td>
        <td><%= offense.dob || 'missing' %></td>
        <td><%= offense.status %></td>
        <td><%= link_to 'link', offense_path(offense) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%# ADD PAGINATION AFTER 500 ROWS %>
