<h1>Search Offenses</h1>

<h2>Admin Panel page</h2>

<%= form_tag offenses_path, method: :get, enforce_utf8: false do %>
  <table>
    <thead>
      <th><%= label_tag :f, 'First name' %></th>
      <th><%= label_tag :m, 'Middle name' %></th>
      <th><%= label_tag :l, 'Last name' %></th>
      <th><%= label_tag :d, 'Date of birth' %></th>
      <th><%= label_tag :g, 'Group ID' %></th>
    </thead>
    <tbody>
      <tr>
        <td><%= text_field_tag :f, @first, placeholder: 'First name' %></td>
        <td><%= text_field_tag :m, @middle, placeholder: 'Middle name' %></td>
        <td><%= text_field_tag :l, @last, placeholder: 'Last name' %></td>
        <td><%= text_field_tag :d, @date, placeholder: 'Date of birth' %></td>
        <td><%= text_field_tag :g, @group, placeholder: 'Groups 1-52', size: 12 %></td>
        <td><%= submit_tag 'Search', name: nil %></td>
      </tr>
    </tbody>
  </table>

<% end %>

<h3>Groups</h3>

<div>
  <% @groups.each do |group| %>
    <span><%= link_to group, group_offenses_path(group) %></span>
  <% end %>
</div>

<h3>Offenses</h3>

<%= page_entries_info @offenses %>

<table>
  <thead>
    <th><%= sortable 'first_name' %></th>
    <th><%= sortable 'middle_name' %></th>
    <th><%= sortable 'last_name' %></th>
    <th><%= sortable 'date_of_birth' %></th>
    <th><%= sortable 'status' %></th>
    <th><%= sortable 'group' %></th>
  </thead>
  <tbody>
    <% @offenses.each do |offense| %>
      <tr>
        <td><%= offense.first_name %></td>
        <td><%= offense.middle_name %></td>
        <td><%= offense.last_name %></td>
        <td><%= offense.dob&.strftime('%-m/%-d/%Y') %></td>
        <td><%= offense.status %></td>
        <td><%= offense.group %></td>
        <td><%= link_to 'link', offense_path(offense, locale: params[:locale]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= paginate @offenses, param_name: :p %>
