<h1 class="title">Admin Panel</h1>

<p>
  Please enter the group, date of birth, or first and last name of the case you wish to search for:
</p>

<%= form_tag offenses_path, method: :get, enforce_utf8: false do %>
  <div class="form-group">
    <%= text_field_tag :f, @first, autocomplete: 'new-password', class: 'form-control', placeholder: 'First name' %>
  </div>
  <div class="form-group">
    <%= text_field_tag :l, @last, autocomplete: 'new-password', class: 'form-control', placeholder: 'Last name' %>
  </div>
  <div class="form-group">
    <%= text_field_tag :d, @date, class: 'form-control', placeholder: 'Date of birth' %>
  </div>
  <div class="form-group">
    <%= text_field_tag :g, @group, class: 'form-control', placeholder: 'Group ID' %>
  </div>

  <%= submit_tag 'Search', class:'btn btn-primary', name: nil %>
<% end %>
