<h1>Offenses#panel</h1>

<h2>Admin panel page</h2>

<p>
  This page has a search bar similar to the search page, except these results are full and have links to the offenses#show page for further detail
</p>

<%= form_for Offense.new, url: offenses_path, method: :get do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, autocomplete: 'new-password', autofill: :off %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name, autocomplete: 'new-password', autofill: :off %>

  <%= f.label :date_of_birth %>
  <%= f.text_field :date_of_birth %>

  <%= f.label :group %>
  <%= f.text_field :group %>

  <%= f.submit 'Search' %>
<% end %>
