<h1>Admin Panel</h1>

<p>
  Please enter the group, date of birth, or first and last name of the case you wish to search for:
</p>

<%= form_for Offense.new, url: offenses_path, method: :get do |f| %>
  <div class="form-group">
    <%= f.text_field :first_name, autocomplete: 'new-password', class: 'form-control', placeholder: 'First Name' %>
  </div>
  <div class="form-group">
    <%= f.text_field :last_name, autocomplete: 'new-password', class: 'form-control', placeholder: 'Last Name' %>
  </div>
  <div class="form-group">
    <%= f.text_field :date_of_birth, class: 'form-control', placeholder: 'Date of Birth' %>
  </div>
  <div class="form-group">
    <%= f.text_field :group, class: 'form-control', placeholder: 'Group ID' %>
  </div>
  <%= f.submit 'Search', class:'btn btn-primary' %>
<% end %>
