<h2>Contact History & Status</h2>

<hr>

<h2>Case: <%= "#{@offense.first_name} #{@offense.middle_name} #{@offense.last_name}" %></h2>

<h4>Status: <%= @offense.status %></h4>

<%= link_to 'Edit', "/offenses/#{@offense.id}/edit", class: 'btn btn-primary' %>

<p>Contact History:</p>

<ul>
  <% @contacts.each do |contact| %>
    <li>
      <%= contact.info %>
    </li>
    <ul>
      <% contact.contact_histories.order(id: :desc).each do |contact_history| %>
        <li><%= contact_history.contact_time %></li>
      <% end %>
    </ul>
  <% end %>
</ul>

<p><b>Type:</b> <%= @offense.type %></p>
<% dob = @offense.dob %>
<% disposition = @offense.disposition_date %>

<% if dob %>
  <p><b>Date of birth:</b> <%= dob %> (<%= @offense.age %> years old)</p>
<% end %>
<p><b>Disposition date:</b> <%= disposition %> (<%= time_ago_in_words disposition %> ago)</p>
<p><b>Age of incident:</b> <%= distance_of_time_in_words dob, disposition %> old</p>
<p><b>Group:</b> <%= @offense.group %></p>
<p><b>Imported at:</b> <%= @offense.created_at %></p>
<p><b>Last updated:</b> <%= @offense.updated_at %></p>
<p><b>Street:</b> <%= @offense.street %></p>
<p><b>City:</b> <%= @offense.city %></p>
<p><b>Race:</b> <%= @offense.race %></p>
<p><b>Sex:</b> <%= @offense.sex %></p>
<p><b>Case number:</b> <%= @offense.case_number %></p>
<p><b>Description:</b> <%= @offense.description %></p>
