<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2>Status & Contact History</h2>

    <div class="d-flex justify-content-between mb-4">
      <%= link_to 'back', offenses_path, class: 'btn btn-primary' %>

      <%= link_to 'Edit', "/offenses/#{@offense.id}/edit", class: 'btn btn-primary' %>
    </div>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Name
            </div>
            <div class="col-8 col-sm-9">
              <%= @offense.name %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Status
            </div>
            <div class="col-8 col-sm-9">
              <%= @offense.status %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Type
            </div>
            <div class="col-8 col-sm-9">
              <%= @offense.type %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Group
            </div>
            <div class="col-8 col-sm-9">
              <%= @offense.group %>
            </div>
          </div>
        </li>
      </ul>

      <% dob = @offense.dob %>
      <% disposition = @offense.disposition_date %>

      <% if dob || disposition %>
        <div class="card-header">
          <b><span class="card-subtitle text-muted">Dates</span></b>
        </div>
        <ul class="list-group list-group-flush">
          <% if dob %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-4 col-sm-3">
                  Date of birth
                </div>
                <div class="col-8 col-sm-9">
                  <%= dob.strftime('%b %-d, %Y') %> (<%= @offense.age %> years old)
                </div>
              </div>
            </li>
          <% end %>
          <% if disposition %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-4 col-sm-3">
                  Disposition date
                </div>
                <div class="col-8 col-sm-9">
                  <%= disposition.strftime('%b %-d, %Y') %> (<%= time_ago_in_words disposition %> ago)
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-4 col-sm-3">
                  Age during incident
                </div>
                <div class="col-8 col-sm-9">
                  <%= distance_of_time_in_words dob, disposition %> old
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>

      <div class="card-header">
        <b><span class="card-subtitle text-muted">Address</span></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Street
            </div>
            <div class="col-8 col-sm-9">
              <%= @offense.street %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              City
            </div>
            <div class="col-8 col-sm-9">
              <%= @offense.city %>
            </div>
          </div>
        </li>
      </ul>

      <div class="card-header">
        <b><span class="card-subtitle text-muted">Appearance</span></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Race
            </div>
            <div class="col-8 col-sm-9">
              <%= @offense.race %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Sex
            </div>
            <div class="col-8 col-sm-9">
              <%= @offense.sex %>
            </div>
          </div>
        </li>
      </ul>

      <div class="card-header">
        <b><span class="card-subtitle text-muted">Case</span></b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Case number
            </div>
            <div class="col-8 col-sm-9">
              <%= @offense.case_number %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-4 col-sm-3">
              Description
            </div>
            <div class="col-8 col-sm-9">
              <%= @offense.description %>
            </div>
          </div>
        </li>
      </ul>

      <div class="card-footer text-center text-muted">
        <div>
          Created
          <%= time_ago_in_words @offense.created_at %> ago
          (<%= @offense.created_at.strftime('%b %d, %Y %l:%M %P') %>)
        </div>
        <div>
          Last updated
          <%= time_ago_in_words @offense.updated_at %> ago
          (<%= @offense.updated_at.strftime('%b %d, %Y %l:%M %P') %>)
        </div>
      </div>
    </div>

    <div class="card mt-5">
      <div class="card-header">
        <b><span class="card-subtitle text-muted">Contact History</span></b>
      </div>

      <ul class="list-group list-group-flush">
        <% @contacts.each do |contact| %>
          <% count = contact.contact_histories.count %>
          <a href="<%= contact_path(contact) %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <b><%= contact.info %></b>
            <span class="badge badge-primary badge-pill"><%= count %></span>
          </a>
          <% contact.contact_histories.each_with_index do |contact_history, i| %>
            <div class="list-group-item bg-light text-muted pl-5">
              <div class="d-flex w-100 justify-content-between">
                <div class="mb-1">
                  <%= count - i %>.
                  <% if contact_history.contact.relief_method == 'email' %>
                    Emailed
                  <% else %>
                    Texted
                  <% end %>
                </div>
                <small title="<%= contact_history.contact_time %>" data-toggle="tooltip">
                  <%= time_ago_in_words contact_history.created_at %> ago
                </small>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="pl-4">
                  <% if contact_history.new %>
                    <span class="text-primary">
                      <%= contact_history.context %>
                    </span>
                  <% else %>
                    <span class="text-success">
                      <%= contact_history.context %>
                    </span>
                  <% end %>
                </div>

                <div class="mb-1">
                  <% relief_message = contact_history.relief_message %>
                  <%= link_to 'message', relief_message, class: 'btn btn-outline-secondary btn-sm' %>
                  <%= link_to 'pdf', relief_message_path(relief_message, format: :pdf), class: 'btn btn-outline-secondary btn-sm' %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>

    <%= link_to 'back', offenses_path, class: 'btn btn-primary mb-4' %>
  </div>
  <div class="col-md-1"></div>
</div>
