<%# only load d3 js library on this page, because this is the only page that uses it %>
<script src="https://d3js.org/d3.v3.min.js"></script>

<div class="row">
  <div class="col-md-6">
    <h2>Stats</h2>

    <p>
      <%= number_with_delimiter Offense.count %> offenses
    </p>

    <ul>
      <li>pending: <%= number_with_delimiter @pending.count %></li>
      <ul>
        <li>unnotified: <%= number_with_delimiter @pending_unnotified %></li>
        <li>notified: <%= number_with_delimiter @pending_notified %></li>
      </ul>
      <li>approved: <%= number_with_delimiter @approved.count %></li>
      <ul>
        <li>unnotified: <%= number_with_delimiter @approved_unnotified %></li>
        <li>notified: <%= number_with_delimiter @approved_notified %></li>
      </ul>
      <li>denied: <%= number_with_delimiter @denied.count %></li>
      <ul>
        <li>unnotified: <%= number_with_delimiter @denied_unnotified %></li>
        <li>notified: <%= number_with_delimiter @denied_notified %></li>
      </ul>
      <li>pulled: <%= number_with_delimiter @pulled.count %></li>
      <ul>
        <li>unnotified: <%= number_with_delimiter @pulled_unnotified %></li>
        <li>notified: <%= number_with_delimiter @pulled_notified %></li>
      </ul>
    </ul>

    <p>
      <%= ContactHistory.count %> messages sent
    </p>

    <ul>
      <li><%= ContactHistory.joins(:contact).where(contacts: { relief_method: 'email' }).count %> emails sent</li>
      <li><%= ContactHistory.joins(:contact).where(contacts: { relief_method: 'phone' }).count %> text messages sent</li>
    </ul>

    <p>
      <%= pluralize Delayed::Job.count, 'message' %> to be sent
    </p>
  </div>

  <div class="col-md-6">
    <div id="donut"></div>

    <script type="text/javascript">
      $(window).on('turbolinks:load resize', function() { donutChart("<%= j bilevel_data %>") } );
    </script>
  </div>
</div>
