<%# FTC still pending only %>
<% full_name = offenses.first.name
  o_count = offenses.count
  tickets = 'ticket'.pluralize o_count

  boletos = 'boleto'.pluralize o_count
  los = 'el'.pluralize o_count, :es
%>

<div class="pdf-page">
  <%= wicked_pdf_image_tag '/durham_logo_transparent.png', class: 'pdf-logo' %>
  <%= image_tag '/durham_logo_transparent.png', class: 'pdf-html-logo' %>

  <p>
    Dear <%= full_name %>:
  </p>

  <p>
    This project is staffed by the Durham Expungement and Restoration (“DEAR”) program in collaboration with the Durham District Attorney’s Office. Our goal is to provide relief to people who have had a suspended driver’s license for more than two years due to unresolved traffic tickets in Durham County that do not involve DWIs or other “high risk” traffic offenses.
  </p>

  <p>
    The Durham District Attorney’s Office is willing to ask the Durham District Court to eliminate all fees and/fines for the following traffic <%= tickets %>:
  </p>

  <ul>
    <% offenses.each do |x| %>
      <li>Full name: <%= x.name %>. Case number: <%= x.case_number %>.  Charge description: <%= x.description %>.</li>
    <% end %>
  </ul>

  <p>
    Until all unpaid fees and/or fines are either paid or eliminated by the Court, your driver’s license will remain suspended for the traffic <%= tickets %> identified above. Between January 1, 2019, and December 31, 2019, the Durham District Attorney’s Office will file a motion asking for all fines and/or fees to be eliminated based on the extended length of your driver’s license suspension. You will get an automatic update as soon as we know more about your case.  If you have upcoming or pending traffic court case, you should go to court on your court dates.
  </p>

  <p>
    For more information about the complete status of your driver’s license, please call the NC Division of Motor Vehicles (NC DMV) at (919) 715-7000.
  </p>

  <p>
    Sincerely,
  </p>

  <p>
    The DEAR team
  </p>
</div>

<div class="pdf-page">
  <%= wicked_pdf_image_tag '/durham_logo_transparent.png', class: 'pdf-logo' %>
  <%= image_tag '/durham_logo_transparent.png', class: 'pdf-html-logo' %>

  <p>
    Estimado <%= full_name %>:
  </p>

  <p>
    Este proyecto cuenta con el personal del Programa de Eliminación y Restauración de Durham (“DEAR”) en colaboración con la Oficina del Fiscal del Distrito de Durham. Nuestro objetivo es brindar alivio a las personas que han tenido una licencia de conducir suspendida por más de dos años debido a multas de tránsito no resueltas en el Condado de Durham que no involucran a DWI u otras infracciones de tráfico de “alto riesgo”.
  </p>

  <p>
    La Oficina del Fiscal del Distrito de Durham está dispuesta a pedirle al Tribunal del Distrito de Durham que elimine todos los cargos y / o tarifas de las siguientes multas de tráfico:
  </p>

  <ul>
    <% offenses.each do |x| %>
      <li>Nombre completo: <%= x.name %>. Número de caso: <%= x.case_number %>. Descripción del cargo: <%= x.description %>.</li>
    <% end %>
  </ul>

  <p>
    Hasta que todos los cargos y/o multas pendientes son pagadas o eliminados por el Tribunal, permanecerá suspendida su licencia de conducir por <%= los %> <%= boletos %> del tráfico identificado anteriormente. Entre el 1 de enero de 2019 y el 31 de diciembre de 2019, la Oficina del Fiscal del Distrito de Durham presentará una moción solicitando que se eliminen todas las multas y/o tarifas según la duración extendida de la suspensión de su licencia de conducir. Recibirá una actualización automática tan pronto como sepamos más sobre su caso. Si tiene un caso en la corte de tránsito pendiente, debe ir a la corte en las fechas programada.
  </p>

  <p>
    Para obtener más información sobre el estado completo de su licencia de conducir, llame a la División de Vehículos Motorizados (NC DMV) de Carolina del Norte al (919) 715-7000.
  </p>

  <p>
    Sinceramente,
  </p>

  <p>
    El equipo de DEAR
  </p>
</div>
