<%# template that could make multiple versions of the same relief message %>
<%
  ftas = offenses.select(&:fta?)
  ftps = offenses.select(&:ftp?)
  ftp_approved = ftps.select(&:approved?)
  all_approved = ftas + ftp_approved
  ftp_pending = ftps.select(&:pending?)

  full_name = offenses.first.name
%>

<div class="pdf-page">
  <!-- <h1>
    Message
    <% if offenses.all?(&:fta?) %>
      1
    <% elsif offenses.all?(&:ftp?) %>
      <% if offenses.all?(&:pending?) %>
        5
      <% elsif offenses.all?(&:approved?) %>
        2
      <% elsif offenses.all?(&:denied?) %>
        6
      <% end %>
    <% elsif offenses.any?(&:fta?) && offenses.any?(&:ftp?) %>
      <% if ftps.all?(&:approved?) %>
        3
      <% elsif ftps.all?(&:pending?) %>
        4
      <% elsif ftps.all?(&:denied?) %>
        7
      <% end %>
    <% end %>
  </h1> -->

  <%= wicked_pdf_image_tag '/durham_logo_transparent.png', class: 'pdf-logo' %>
  <%= image_tag asset_url('/durham_logo_transparent.png'), class: 'pdf-html-logo' %>

  <p>
    Dear <%= full_name %>:
  </p>

  <p>
    Thank you for using the city’s online portal to see if you have received relief through the Durham Driver’s License Restoration Project. This project is staffed by the Durham Expungement and Restoration (“DEAR”) program in collaboration with the Durham District Attorney’s Office. Our goal is to provide relief to people who have had a suspended driver’s license for more than two years due to unresolved traffic tickets in Durham County that do not involve DWIs or other “high risk” traffic offenses.
  </p>

  <%# assuming all FTA's are dismissed %>
  <% if ftas.any? %>
    <p>
      We are excited to inform you that the Durham District Attorney’s office has dismissed the following traffic <%= 'ticket'.pluralize ftas.count %>:
    </p>

    <ul>
      <% ftas.each do |x| %>
        <li>Full name: <%= x.name %>. Case number: <%= x.case_number %>. Charge description: <%= x.description %>.</li>
      <% end %>
    </ul>
  <% end %>

  <% if ftp_approved.any? %>
    <% ftp_approved_tickets = 'ticket'.pluralize ftp_approved.count %>
    <p>
      We are
      <% if ftas.any? %>
        also
      <% end %>
      excited to inform you that the Durham County court has eliminated all unpaid fines and/or fees for the following traffic <%= ftp_approved_tickets %>:
    </p>

    <ul>
      <% ftp_approved.each do |x| %>
        <li>Full name: <%= x.name %>. Case number: <%= x.case_number %>. Charge description: <%= x.description %>.</li>
      <% end %>
    </ul>
  <% end %>

  <% if all_approved.any? %>
    <p>
      <% if ftas.any? && ftp_approved.any? %>
        <!-- fta & ftp dismissed -->
        All tickets identified above have been resolved.
      <% elsif ftas.any? %>
        <!-- fta dismissed only -->
        <%= 'The :ticket identified above :has been dismissed and :is now resolved.'.pluralize_sentence ftas.count %>
      <% else %>
        <!-- ftp dismissed only -->
        <%= 'All fines and/or fees for the :ticket identified above have been eliminated by the court and the :case :is now resolved.'.pluralize_sentence ftp_approved.count %>
      <% end %>

      Any suspension of your driver’s license caused by the specific unresolved <%= 'ticket'.pluralize all_approved.count %> has ended.

      <% if ftp_approved.any? %>
        <%= 'Although the fines and/or fees for the :ticket identified above have been eliminated and the :ticket'.pluralize_sentence all_approved.count %>
      <% else %>
        <%= 'Although :this :ticket :has been dismissed and'.pluralize_sentence ftas.count %>
      <% end %>

      <%= 'is'.pluralize all_approved.count %> no longer causing your license to be suspended, this does not mean that you are now legally able to drive. There may be other traffic matters that are causing your license to remain suspended. If there are no other traffic matters causing your license to be suspended, then you will need to pay a reinstatement fee to the NCDMV in order to reinstate your license.
    </p>
  <% end %>

  <% if ftp_pending.any? %>
    <% ftp_pending_tickets = 'ticket'.pluralize ftp_pending.count %>
    <p>
      The Durham District Attorney’s Office is
      <% if ftas.any? || ftp_approved.any? %>
        also
      <% end %>
      willing to ask the Durham District Court to eliminate all fees and/fines for the following traffic <%= ftp_pending_tickets %>:
    </p>

    <ul>
      <% ftp_pending.each do |x| %>
        <li>Full name: <%= x.name %>. Case number: <%= x.case_number %>.  Charge description: <%= x.description %>.</li>
      <% end %>
    </ul>

    <p>
      Until all unpaid fees and/or fines are either paid or eliminated by the Court, your driver’s license will remain suspended for the traffic <%= ftp_pending_tickets %> identified above. Between January 1, 2019, and July 31, 2020, the Durham District Attorney’s Office intends to file a motion asking for all fines and/or fees to be eliminated based on the extended length of your driver’s license suspension. You will get an automatic update as soon as we know more about your case. If you have upcoming or pending traffic court case, you should go to court on your court dates.
    </p>
  <% end %>

  <p>
    For more information about the status of your driver’s license and/or procedures to reinstate a driver’s license, please call the NC Division of Motor Vehicles (NC DMV) at (919) 715-7000.
  </p>

  <% if all_approved.any? %>
    <p>
      If you would like to meet with a DEAR staff person to review your entire state driving record, please visit the Durham Expunction and Restoration Program (DEAR) office. The office is open Monday – Friday, 9:30am – 3:00pm and is located at the Durham County Courthouse in suite 6400 on the 6th floor. This service is free.
    </p>
  <% end %>

  <p>
    Sincerely,
  </p>

  <p>
    The DEAR team
  </p>
</div>

<div class="pdf-page">
  <%= wicked_pdf_image_tag '/durham_logo_transparent.png', class: 'pdf-logo' %>
  <%= image_tag asset_url('/durham_logo_transparent.png'), class: 'pdf-html-logo' %>

  <p>
    Estimado <%= full_name %>:
  </p>

  <p>
    Gracias por usar el portal en línea de la ciudad para ver si ha recibido alivio a través del Proyecto de Restauración de Licencia del Conductor de Durham. Este proyecto cuenta con el personal del Programa de Eliminación y Restauración de Durham (“DEAR”) en colaboración con la Oficina del Fiscal del Distrito de Durham. Nuestro objetivo es brindar alivio a las personas que han tenido la licencia de conducir suspendida por más de dos años debido a multas de tránsito no resueltas en el Condado de Durham que no involucran a DWI u otras infracciones de tráfico de “alto riesgo”.
  </p>

  <% if ftas.any? %>
    <p>
      Nos complace informarle que la oficina del Fiscal del Distrito de Durham ha desestimado las siguientes multas de tráfico:
    </p>

    <ul>
      <% ftas.each do |x| %>
        <li>Nombre completo: <%= x.name %>. Número de caso: <%= x.case_number %>. Descripción del cargo: <%= x.description %>.</li>
      <% end %>
    </ul>
  <% end %>

  <% if ftp_approved.any? %>
    <p>
      Nos complace informarle que el tribunal del condado de Durham ha eliminado todas las multas y/o tarifas impagas para las siguientes multas de tránsito:
    </p>

    <ul>
      <% ftp_approved.each do |x| %>
        <li>Nombre completo: <%= x.name %>. Número de caso: <%= x.case_number %>. Descripción del cargo: <%= x.description %>.</li>
      <% end %>
    </ul>
  <% end %>

  <% if all_approved.any? %>
    <p>
      <% if ftas.any? && ftp_approved.any? %>
        Todas las entradas identificadas anteriormente han sido resueltas.
      <% elsif ftas.any? %>
        <%= ':El :boleto :identificado arriba :ha sido :despedido y ahora :está :resuelto'.pluralize_sentence ftas.count, :es %>.
      <% elsif ftp_approved.any? %>
        Todas las multas y/o tarifas por
        <%= ':el :boleto :identificado'.pluralize_sentence ftp_approved.count, :es %>
        arriba han sido eliminadas por el tribunal y
        <%= ':el :caso ahora :está :resuelto'.pluralize_sentence ftp_approved.count, :es %>.
      <% end %>

      Cualquier suspensión de su licencia de conducir causada por los boletos específicos sin resolver ha finalizado.

      <% if ftp_approved.any? %>
        A pesar de que las multas y/o tarifas por
        <%= ':el :boleto :identificado'.pluralize_sentence all_approved.count, :es %>
        anteriormente se
        <%= ':ha eliminado y :el :boleto ya no :provoca'.pluralize_sentence all_approved.count, :es %>
        la suspensión de su licencia,
      <% else %>
        Aunque
        <%= ':este :boleto :ha sido :cancelado y ya no :está'.pluralize_sentence ftas.count, :es %>
        causando que su licencia sea suspendida,
      <% end %>

      esto no significa que ahora pueda conducir legalmente. Puede haber otros asuntos de tráfico que estén causando que su licencia permanezca suspendida. Si no hay otros asuntos de tráfico que causen que su licencia sea suspendida, entonces deberá pagar una tarifa de restablecimiento al NCDMV para restablecer su licencia.
    </p>
  <% end %>

  <% if ftp_pending.any? %>
    <p>
      La Oficina del Fiscal del Distrito de Durham
      <% if ftas.any? || ftp_approved.any? %>
        también
      <% end %>
      está dispuesta a pedirle al Tribunal del Distrito de Durham que elimine todos los cargos y/o multas por las siguientes multas de tráfico:
    </p>

    <ul>
      <% ftp_pending.each do |x| %>
        <li>Nombre completo: <%= x.name %>. Número de caso: <%= x.case_number %>. Descripción del cargo: <%= x.description %>.</li>
      <% end %>
    </ul>

    <p>
      Hasta que todos los cargos y/o multas pendientes sean pagadas o eliminados por el Tribunal, permanecerá suspendida su licencia de conducir por
      <%= ':el :boleto'.pluralize_sentence ftp_pending.any?, :es %>
      del tráfico identificado anteriormente. Entre el 1 de enero de 2019 y el 31 de julio de 2019, la Oficina del Fiscal del Distrito de Durham tiene la intención de presentar una moción solicitando que se eliminen todas las multas y/o tarifas según la duración extendida de la suspensión de su licencia de conducir. Usted recibirá una actualización automática tan pronto como obtengamos más información sobre su caso. Si tiene un caso en la corte de tránsito pendiente, debe ir a la corte en las fechas programadas.
    </p>
  <% end %>

  <p>
    Para obtener más información sobre el estado de su licencia de conducir y/o los procedimientos para restablecer una licencia de conducir, llame a la División de Vehículos Motorizados (NC DMV) de Carolina del Norte al (919) 715-7000.
  </p>

  <% if all_approved.any? %>
    <p>
      Si desea reunirse con un miembro del personal de DEAR para revisar su registro de conducir del estado completo, visite la oficina del Programa de Eliminación y Restauración de Durham (DEAR). La oficina está abierta de lunes a viernes, de 9:30 a.m. a 3:00 p.m. y está ubicada en el palacio de justicia del condado de Durham en la suite 6400 en el sexto piso. Este servicio es gratuito.
    </p>
  <% end %>

  <p>
    Sinceramente,
  </p>

  <p>
    El equipo de DEAR
  </p>
</div>
