<!DOCTYPE html>
<html>
  <head>
    <title>Second Chance Driving</title>
    <meta name="viewport" content="initial-scale=1" />
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136180391-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-136180391-1');
      </script>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application'.freeze, media: 'all'.freeze, 'data-turbolinks-track': 'reload'.freeze %>
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" charset="utf-8"></script> -->
    <%= javascript_include_tag 'application'.freeze, 'data-turbolinks-track': 'reload'.freeze %>
    <% unless @user_page %>
      <%= stylesheet_link_tag 'admin'.freeze, media: 'all'.freeze, 'data-turbolinks-track': 'reload'.freeze %>
      <%= javascript_include_tag 'admin'.freeze, 'data-turbolinks-track': 'reload'.freeze %>
    <% end %>
    <%= render 'layouts/shim'.freeze %>
  </head>
  <body>
    <%= flash_helper if flash.present? %>
    <%= render 'layouts/header'.freeze %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer'.freeze %>
  </body>
</html>
