<!DOCTYPE html>
<html>
  <head>
    <title>Second Chance Driving</title>
    <meta name="viewport" content="initial-scale=1" />
    <% if Rails.env == 'production' %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136180391-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-136180391-1');
      </script>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application'.freeze, media: 'all'.freeze, 'data-turbolinks-track': 'reload'.freeze %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application'.freeze, 'data-turbolinks-track': 'reload'.freeze %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <%= render 'layouts/shim'.freeze %>
  </head>
  <body>
    <%= flash_helper if flash.present? %>
    <%= render 'layouts/header'.freeze %>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="content">
            <%= yield %>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <!-- <div class="bg-image" style="display: block; height: 50em; padding: 1em 1em 15em 49%; background-image: url(https://snworksceo.imgix.net/dtc/730188fd-060a-435c-9a00-1e1a45ca3fff.sized-1000x1000.jpg);">
        <div style="shape-outside: polygon(0 0, 0 37em, 12em 0em); float: left; width: 8.5em; height: 31em; opacity: .2;">
        </div>

        <p style="color: white; font-size: 18px; padding-top: 7em;">
          “Making the city we love, a city for all, means making the city we love a city of second chances. Everyone who is benefiting from this program has paid a very steep price.  They have lost their license for at least two years. To be a city of second chances, there must be an expiration date on what it means to hold someone accountable.”
        </p>

        <p style="color: white; font-size: 17px; float: right;">
          - Mayor Steve Schewel, City of Durham
        </p>
      </div> -->
    </div>
    <%= render 'layouts/footer'.freeze %>
  </body>
</html>
